

.NotaOpiniaoVazio{width:14px;height:14px;background-image:url(../images/NotaOff.png)}
.NotaOpiniaoMeio{width:14px;height:14px;background-image:url(../images/NotaHalf.png)}
.NotaOpiniaoCheio{width:14px;height:14px;background-image:url(../images/NotaOn.png)}


